@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #F8F5F0;

  --gold: #C6A972;
  --cream: #F8F5F0;
  --black: #0D0D0D;
  --maroon: #5C2E2E;
  --green: #1F3A33;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}